<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.colaman.kyle">

    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.colaman.kyle.fileprovider"
            android:exported="false"
            android:multiprocess="true"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>
